<h1>About</h1>
<br><br>
<h2 class="about-text">Who are we?</h2>
<p>We are the proud young lambs of Lambtown</p>

<h2 class="about-text">What is our mission?</h2>
<p>To make posts and comments on issues relating to lambs</p>
