<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a href="pages/home" class="nav-item">
        <img src="http://clipartix.com/wp-content/uploads/2016/09/Sheep-lamb-clipart-black-and-white-free-clipart-images-clipartix.jpg" alt="Bulma logo">
      </a>
      <a href="pages/home" class="nav-item is-tab is-hidden-mobile is-active">Home</a>
      <a href="/posts" class="nav-item is-tab is-hidden-mobile">Posts</a>
      <a href="pages/about" class="nav-item is-tab is-hidden-mobile">About</a>
      <a href="pages/contact" class="nav-item is-tab is-hidden-mobile">Contact</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab is-hidden-tablet is-active">LambTown</a>
      <a href="/posts" class="nav-item is-tab is-hidden-tablet">Posts</a>
      <a class="nav-item is-tab is-hidden-tablet">About</a>
      <a class="nav-item is-tab is-hidden-tablet">Contact</a>
      <a class="nav-item is-tab">
        <figure class="image is-16x16" style="margin-right: 8px;">
          <img src="http://clipartix.com/wp-content/uploads/2016/09/Sheep-lamb-clipart-black-and-white-free-clipart-images-clipartix.jpg">
        </figure>
        We Are LambTown
      </a>
      <a class="nav-item is-tab">Log Out</a>
    </div>
  </div>
</nav>
